{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <head>

        <title>
            {% block title %} Live Bird Market List Form {% endblock %}
        </title>
    </head>
{% endblock %}
{% block content %}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Live Bird Market List Form
            </div>
        </div>

        <div class="portlet-body">
            <div class="ui form">
                <div class="grouped fields">
                    <div class="field">
                        <div class="ui slider checkbox">
                            <input type="radio" name="throughput" id="R1" checked="checked" onchange="check1()">
                            <label>Live Bird Market List File Upload</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui slider checkbox">
                            <input type="radio" name="throughput" id="R2" onchange="check2()">
                            <label>Live Bird Market List Form</label>
                        </div>
                    </div>
                </div>
            </div>

            <form class="horizontal-form" id="upload_form" method="post"
                  action="/fao_module/insert_livebird_markets_list_file_form/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Live Bird Market File">Live Bird Market File:</label>
                                <input type="file" class="form-control" name="livebird_markets_list_file_name"
                                       id="livebird_markets_list_file_name"
                                       accept=".xls,.xlsx" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-left" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Upload
                            </button>
                            <button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>
                        </div>
                    </div>

                </div>
            </form>
            <form class="horizontal-form" id="info_form" method="post" action="/fao_module/insert_livebird_markets_list_form/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Market ID">Market ID:</label>
                                <input type="text" class="form-control" name="market_id"
                                       id="market_id"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Market Name">Market Name:</label>
                                <input type="text" class="form-control" name="market_name"
                                       id="market_name"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Ward Number">Ward Number:</label>
                                <input type="number" class="form-control" name="ward_number"
                                       id="ward_number"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="City Corporation">City Corporation:</label>
                                <input type="text" class="form-control" name="city_corp"
                                       id="city_corp"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Assigned Officer">Assigned Officer:</label>
                                <input type="text" class="form-control" name="assigned_officer"
                                       id="assigned_officer"
                                       required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-left" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Submit
                            </button>
                            <button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
{% endblock %}
{% block additional-javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script>
        $('#info_form').hide();
        $('#pac_size_alert').hide();
        function check1() {
            $('#info_form').hide();
            $('#upload_form').fadeIn();

        }

        function check2() {
            $('#upload_form').hide();
            $('#info_form').fadeIn();
        }

        $("#info_form").submit(function (event) {
            if ($('#pac_size_1').val() == "" && $('#pac_size_2').val() == "" && $('#pac_size_3').val() == "") {
                event.preventDefault();

               // modal.style.display="block"
            }
        });

        if ($('.alert-block').is(':visible')) {
            window.setTimeout(function () {
                $(".alert-success").fadeTo(1500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);
        }
    </script>
{% endblock %}