{% extends 'base_test.html' %}
{% load i18n %}
{% block additional-headers %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <head>

        <title>
            {% block title %} Medicine List Form {% endblock %}
        </title>
    </head>
{% endblock %}
{% block content %}

    <div class="portlet box red">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-reorder"></i> Medicine List Form
            </div>
        </div>

        <div class="portlet-body">
            <div class="ui form">
                <div class="grouped fields">
                    <div class="field">
                        <div class="ui slider checkbox">
                            <input type="radio" name="throughput" id="R1" checked="checked" onchange="check1()">
                            <label>Medicine List File Upload</label>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui slider checkbox">
                            <input type="radio" name="throughput" id="R2" onchange="check2()">
                            <label>Medicine List Form</label>
                        </div>
                    </div>
                </div>
            </div>

            <form class="horizontal-form" id="upload_form" method="post"
                  action="/fao_module/insert_medicine_list_file_form/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Medicine List File">Medicine List File:</label>
                                <input type="file" class="form-control" name="medicine_list_file_name"
                                       id="medicine_list_file_name"
                                       accept=".xls,.xlsx" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-left" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Upload
                            </button>
                            <button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>
                        </div>
                    </div>

                </div>
            </form>
            <form class="horizontal-form" id="info_form" method="post" action="/fao_module/insert_medicine_list_form/"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Broad Medicine Group">Broad Medicine Group:</label>
                                <input type="text" class="form-control" name="broad_medicine_group"
                                       id="broad_medicine_group"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Sub-Group">Sub-Group:</label>
                                <input type="text" class="form-control" name="sub_group"
                                       id="sub_group"
                                       >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Pharmacological Group">Pharmacological Group:</label>
                                <input type="text" class="form-control" name="pharmacological_group"
                                       id="pharmacological_group"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Type">Medicine Type:</label>
                                <input type="text" class="form-control" name="medicine_type"
                                       id="medicine_type"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Trade Name">Trade Name:</label>
                                <input type="text" class="form-control" name="trade_name"
                                       id="trade_name"
                                       required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Pac size 1">Pac size 1:</label>
                                <input type="text" class="form-control" name="pac_size_1"
                                       id="pac_size_1"
                                       >
                                       
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Pac size 2">Pac size 2:</label>
                                <input type="text" class="form-control" name="pac_size_2"
                                       id="pac_size_2"
                                >
                                
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Pac size 3">Pac size 3:</label>
                                <input type="text" class="form-control" name="pac_size_3"
                                       id="pac_size_3"
                                >
                                
                            </div>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Generic composition">Generic composition:</label>
                                <input type="text" class="form-control" name="generic_composition"
                                       id="generic_composition"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Company Name">Company Name:</label>
                                <input type="text" class="form-control" name="company_name"
                                       id="company_name"
                                       >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Pharmacopia Name">Pharmacopia Name:</label>
                                <input type="text" class="form-control" name="pharmacopia_name"
                                       id="pharmacopia_name"
                                       >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="Dosage">Dosage:</label>
                                <input type="text" class="form-control" name="dosage"
                                       id="dosage"
                                       >
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-danger pull-left" id="submit" name="submit" type="submit"
                                    data-original-title=""
                                    title="">Submit
                            </button>
                            <button onclick="history.go(-1);" style="margin-left:10px;" type="button"
                                    class="btn btn-info pull-left" data-original-title="" title="">Cancel
                            </button>
                        </div>
                    </div>

                </div>

            </form>

        </div>
    </div>
{% endblock %}
{% block additional-javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/jquery.dataTables.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/plugins/data-tables/DT_bootstrap.js"></script>
    <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.js"></script>
    <script>
        $('#info_form').hide();

        function check1() {
            $('#info_form').hide();
            $('#upload_form').fadeIn();

        }

        function check2() {
            $('#upload_form').hide();
            $('#info_form').fadeIn();
        }

        $("#info_form").submit(function (event) {
            if ($('#pac_size_1').val() == "" && $('#pac_size_2').val() == "" && $('#pac_size_3').val() == "") {
                event.preventDefault();
               alert("Please Insert at least one Pac size.");
            }
        });

        if ($('.alert-block').is(':visible')) {
            window.setTimeout(function () {
                $(".alert-success").fadeTo(1500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);
        }
    </script>
{% endblock %}